<div class="box">
    <div class="container mt-5">
    <h1>Boutique works!</h1>
      <div class="row">
        <div *ngFor="let article of articles | paginate : config" class="col-sm-4">
          <div class="card" style="width: 18rem;">
            <div class="box-part text-center">
                <img class="card-img-top" height="350" [src]="article.logo" alt="image article" />
                <div class="card-img-overlay">
                    <h6><a href="#">{{article.titre}}</a></h6>
                </div>
                {{article.prix}}
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
    </div>
</div>
