<div class="box container">
  <form formAjoutEvenement = "ngForm" id="formAjoutEvenement">
    <div class="form-group">
      <label for="titre">Titre : </label>
      <input (ngModel) = "evenement.titre" name="titre" type="text" class="form-control" id="titre" placeholder="Titre">
    </div>
    <div class="form-group">
      <label for="lieu">Lieu : </label>
      <input (ngModel) = "evenement.lieu" name="lieu" type="text" class="form-control" id="lieu" placeholder="Lieu">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea (ngModel) = "evenement.desc" name="desc" class="form-control" id="description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="debut">Début : </label>
      <input (ngModel) = "evenement.debut" name="debut" type="text" class="form-control" id="debut" placeholder="debut">
    </div>
    <div class="form-group">
      <label for="fin">Fin : </label>
      <input (ngModel) = "evenement.fin" name="fin" type="text" class="form-control" id="fin" placeholder="fin">
    </div>
    <div class="form-group">
      <label for="heure">Heure : </label>
      <input (ngModel) = "evenement.heure" name="heure" type="text" class="form-control" id="heure" placeholder="Heure de début">
    </div>
    <div class="form-inline">
      <div class="form-group mb-2">
        <label for="logo">Logo : </label>
        <input (ngModel) = "evenement.logo" name="logo" type="file" class="form-control-file" id="logo">
      </div>
    </div>
    <button type="submit" (click) = "onAjoutEvenement()" class="btn btn-primary mb-2">Ajouter</button>
  </form>
</div>