<div class="box">
  <div class="main content col-md-6 offset-md-3 mt-5">
    <div class="card">
      <h4 class="card-header text-center">Identifiez-vous</h4>
      <div class="card-body">
        <div id="login" *ngIf="isLoggedIn; else loggedOut">Logged in as {{ roles }}.</div>
        <ng-template #loggedOut>
          <!-- <div id="login" class="col-sm-8 offset-sm-2 mt-2" > -->
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
                <div *ngIf="f.submitted && username.invalid">
                  <div *ngIf="username.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <div class="input-group">
                  <input [type]=" fieldTextType ? 'text' : 'password' " class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" required minlength="6"/>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa" [ngClass]= "{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}" (click)= "toggleFieldTextType()"></i>
                    </div>
                  </div>
                </div> 
                <div *ngIf="f.submitted && password.invalid">
                  <div *ngIf="password.errors.required">Password is required</div>
                  <div *ngIf="password.errors.minlength">
                    Password must be at least 6 characters
                  </div>
                </div>
              </div>
              <div class="form-group text-center">
                <button class="btn btn-primary">Se connecter</button>
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                  Login failed: {{ errorMessage }}
                </div>
              </div>
            </form>
            <hr />
            <p>Vous n'avez pas de compte ?</p>
            <div class="text-center">
              <a href="signup" class="btn btn-success">Créer votre compte</a>
            </div>
          <!-- </div> -->
        </ng-template>
      </div>
    </div>
  </div>
</div>