<div class="container">
  <div class="card mb-3">
    <img [src]="evenement.logo" class="card-img-top" alt="image evenement" />
  </div>
  <div class="card-body" id="titre">
      <h5 class="card-title"><strong>{{ evenement.titre }}</strong></h5>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <p class="card-text">{{ evenement.desc }}</p>
      <div class="row">
          <div>
              <small class="text-muted"> <strong id="date">Date : {{evenement.debut}} {{evenement.fin}}</strong></small>
          </div>
          <div class="text-center">
              <small class="text-muted"> <strong id="horaire">Horaire : {{evenement.heure}}</strong></small>
          </div>
          <div class="text-rigth">
              <a href="{{evenement.url}}" class="btn btn-primary" id="info">Plus d'infos</a>
          </div>
      </div>
    </div>
  </div>
</div>