<body>
  <main id="main">
    <div class="box container">
      <div class="row topspace">
        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
          <p><img [src]="evenement.logo" alt="" /></p>
          <!-- <header class="page-header"> -->
          <h2 class="page-title"><b>{{ evenement.titre }}</b></h2>
          <!-- </header> -->
          <h3>Description</h3>
          <p>{{ evenement.desc }}</p>
        </article>
        <!-- /Article -->

        <!-- Sidebar -->
        <aside class="col-md-4 sidebar sidebar-left">
          <div class="card widget">
            <div class="card-body">
              <h4><b>DATE :</b></h4>
              {{ evenement.debut }} {{ evenement.fin }}
            </div>
            <div class="card-body heure">
              <h4><b>HEURE :</b></h4>
              {{ evenement.heure }}
            </div>
            <div class="card-body">
              <h4><b>LIEU :</b></h4>
              {{ evenement.lieu }}
            </div>
            <div class="card-body">
              <h4><b>PLUS D'INFOS :</b></h4>
              <a href="{{ evenement.url }}" id="info">Lire la suite</a>
            </div>
          </div>
        </aside>
        <!-- /Sidebar -->
      </div>
    </div>
    <!-- /container -->
  </main>
</body>