#titre {
    text-align: center;
  }
  
  .box {
    margin-top: 150px;
  }
  
  img {
    max-width: 100%;
  }
  
  img {
    vertical-align: middle;
  }
  
  img {
    border: 0;
  }
  
  p {
    line-height: 1.6em;
    margin: 0 0 30px 0;
  }
  
  body {
    font-size: 15px;
    font-size: 0.9375rem;
    font-family: "Open sans", Helvetica, Arial, sans-serif;
    color: #666666;
    padding: 0;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
  }
  
  .page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: none;
    text-align: left;
  }
  
  .page-header .page-title {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }
  
  img {
      // width: 517px;
      height: 707px;
  }
  
  .card-body{
      border-radius: 10px;
      background-color: rgb(240, 229, 229);
      margin: 5px;
      font-size: larger;
  }
  
  h3{
      margin-top: 50px;
      text-align: center;
  }
  
  p{
      text-align: justify;
  }