<p>details-evenement works!</p>
<div class="box">
    <div class="container mt-5">
    <h1>evenement works!</h1>
      <div class="row">
        <div *ngFor="let evenement of evenement" class="row">
            <div class="col-sm-4">
                <h2>{{evenement.titre}}</h2>
                <div class="box-part text-center">
                    <img class="card-img-top" height="350" [src]="evenement.logo" alt="image evenement" />
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>Titre</td>
                                    <td><strong>{{evenement.titre}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Lieu</td>
                                    <td><strong>{{evenement.lieu}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Desc</td>
                                    <td><strong>{{evenement.desc}}</strong></td>
                                </tr>
                            </tbody>
                        </table>                   
                    </div>
                    <div>
                        <a (click) = "goBack()">Retour</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>