.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}

.carousel-indicators{
  height: 100px;
}

.row{
  margin-top: 60px;
}

button{
  margin-left: 550px;
}

.carousel{
  margin-top: 50px;
  margin-bottom: 20px;
}

img{
  border-radius: 15px;
}

.image1{
  height: 450px;
  text-align: center;
}

.image2{
  height: 450px;
  text-align: center;
  color: black;
}

.image3{
  height: 550px;
  text-align: right;
  color: black;
}

.image1 span{
  background-color: black;
  opacity: 0.8;
  font-size: 30px;
}

.image2 span{
  background-color: whitesmoke;
  opacity: 0.5;
  font-size: 30px;
}

.image3 span{
  background-color: whitesmoke;
  opacity: 0.5;
  font-size: 30px;
}

p {
  background-color: black;
}