<body>
  <img class="img-responsive" src="../../assets/photos/evenement-bg.jpg">
  <section class="gallery-block cards-gallery">
     <div class="container">
         <div class="heading">
           <h2>Les évenements </h2>
         </div>
         <div class="row">
             <div *ngFor="let event of evenements" class="col-md-6 col-lg-4" >
                 <div class="card border-0 transform-on-hover lightbox" (click) = "recupererEvenementById(event)" >
                     <img class="card-img-top" height="350" [src]="event.logo" alt="image evenement" />
                     <div class="card-body">
                         <h6>{{event.titre}}</h6>
                     </div>
                     <div class="text-center">
                        <button class="btn btn-success">Details</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
   </section>
</body>